<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="css/style.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <title>Enerbe - Oil Gas Techology</title>

<script language="javascript">
function onMenuClick(){
    var navbar = document.getElementById("header-menu");
    var responsive_class_name = "responsive";
    navbar.classList.toggle(responsive_class_name);

}
</script>

  </head>
<body>

<div class="header-containter">

<header>
<div class="header-top">
<!--logo-->
<div class="header-logo">Enerbe</div>

<!--menu responsive-->
<a href="#" onclick="onMenuClick()" class="menu-icon" id="menu-icon">
<i class="fa fa-bars"></i>
</a>

<!--linkmenu-->
<nav id="header-menu" class="header-menu">
  <a href="#">Home</a>
  <a href="#">Energy and Innovation</a>
  <a href="#">Sustainbility</a>
  <a href="#">Operations</a>
  <a href="#">News</a>
  <a href="#">Inverstors</a>
  <a href="#">About</a>
  </nav>
</div>
</header>
<!--End of Header-->


<video src="src/video/1095291399-preview.mp4" muted loop autoplay></video>


<div class="i">
<div class="i-center">
<div class="i-center-wrapper">
<div class="i-intro">Clean energy to the world</div>
<div class="i-desc">
We are committed to the environment, which is why we want to provide you with the best, most efficient and safest option i therms of fuel.
</div>
</div>
</div>
</div>

</div>

<!--End of Background-->


<div class="main-container">
<!--Make Column-->
<p>this is a test</p>  


</div>

</body>
</html>